.profile__info {
	margin: 22px auto 25px 30px;
	min-width: 336px;
	display: grid;
	grid-template-columns: repeat(2, minmax(min-content, max-content));
	grid-template-rows: repeat(2, minmax(min-content, max-content));
	gap: 16px 18px;
}

@media screen and (max-width: 699px) {
	.profile__info {
		margin: 26px 0 0;
		gap: 8px 10px;
	}
}